.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: var(--osl-label-font-size);
    width: fit-content;
    max-width: 100%;

    input[type='checkbox'] {
        width: 16px;
        height: 16px;
        cursor: pointer;
        accent-color: #333;
        flex-shrink: 0;
    }

    .checkbox-label {
        user-select: none;
        display: flex;
        align-items: center;
        overflow: hidden;
        min-width: 0;
    }

    &.checkbox-disabled {
        opacity: 0.6;
        cursor: not-allowed;

        input[type='checkbox'] {
            cursor: not-allowed;
        }
    }

    &.checkbox-invalid {
        color: var(--osl-error-color);
    }
}

.label-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

.label-required {
    flex-shrink: 0;
}

.hint {
    color: var(--osl-error-color);
    margin-top: 2px;
    font-size: var(--osl-hint-font-size);
}

.txt-clr-red {
    color: var(--osl-error-color);
}
