.card{
    height: 200px;
    width: 250px;
    padding: 10px;
    background-color: white;
}
.circle-inside-card{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;

}
.height{
    height: 100px;
    background-color: white;
    width: 100%;
}