@if (variant == 'icon' && icon) {
  <button class="icon-btn" [type]="type" [disabled]="disabled || loading" (click)="onClick()">
    @if (loading) {
      <span class="osl-btn__spinner"></span>
    } @else {
      <mat-icon>{{ icon }}</mat-icon>
    }
  </button>
} @else {
  <button [class]="classes" [type]="type" [disabled]="disabled || loading" (click)="onClick()">
    @if (loading) {
      <span class="osl-btn__spinner"></span>
    }
    <span class="osl-btn__label">{{ label }}</span>
    @if (icon) {
      <span class="osl-btn__label-icon"
        ><mat-icon>{{ icon }}</mat-icon></span
      >
    }
  </button>
}
